<div class="footer bg-black bg-gradient text-white-50 pt-5 pb-2">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-3">
        <h5 class="text-white">Download Our App</h5>
        <p class="small">Download App for Android and iOS mobile phone.</p>
        <div class="row">
          <img alt="" class="w-50" src="/assets/img/play-store.png">
          <img alt="" class="w-50" src="/assets/img/app-store.png">
        </div>
      </div>
      <div class="col-5 text-center">
        <img alt="" class="pb-3" src="/assets/img/logo-white.png">
        <p class="my-1">Download App for Android and iOS mobile phone.</p>
      </div>
      <div class="col-2 text-center">
        <h5 class="text-white">Useful Links</h5>
        <ul class="list-unstyled">
          <li><a class="text-white-50" href="#">Coupons</a></li>
          <li><a class="text-white-50" href="#">Blog Post</a></li>
          <li><a class="text-white-50" href="#">Return Policy</a></li>
          <li><a class="text-white-50" href="#">Join Affiliate</a></li>
        </ul>
      </div>
      <div class="col-2 text-center">
        <h5 class="text-white">Follow us</h5>
        <ul class="list-unstyled">
          <li><a class="text-white-50" href="#">Facebook</a></li>
          <li><a class="text-white-50" href="#">Twitter</a></li>
          <li><a class="text-white-50" href="#">Instagram</a></li>
          <li><a class="text-white-50" href="#">YouTube</a></li>
        </ul>
      </div>
    </div>
    <hr class="bg-body">
    <p class="text-center">Copyright</p>
  </div>
</div>
