<div class="carousel slide index-carousel"
     data-bs-theme="dark"
     id="myCarousel"
     data-bs-ride="carousel"
     data-bs-pause="false"
     data-bs-keyboard="false">
  <div class="carousel-indicators">
    <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
            data-bs-target="#myCarousel"
            type="button"></button>
    <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#myCarousel" type="button"></button>
    <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#myCarousel" type="button"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item ratio ratio-21x9 active" data-bs-interval="5000">
      <img alt="" class="d-block w-100 object-fit-cover" src="/assets/img/006qq78Aly1g7e3c98e26j31fm0u0npd.jpg">
    </div>
    <div class="carousel-item ratio ratio-21x9" data-bs-interval="5000">
      <img alt="" class="d-block w-100 object-fit-cover"
           src="/assets/img/wallpaper.jpg">
    </div>
    <div class="carousel-item ratio ratio-21x9" data-bs-interval="5000">
      <img alt="" class="d-block w-100 object-fit-cover" src="/assets/img/006OQ7nfly1gywu7ps86oj324n1f24qs.jpg">
    </div>
  </div>
  <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#myCarousel" type="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#myCarousel" type="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
