<div class="container">
  <div class="billing my-5">
    <div class="row w-75 mx-auto">
      <div class="col-6">
        <div class="user-card card border-0 shadow">
          <div class="card-header bg-orange bg-gradient">
            <p class="card-title mb-0">
              <i class="me-2 fa-light fa-file-invoice"></i>
              Billing Address
            </p>
          </div>
          <div class="card-body">
            <form #billing="ngForm"
                  (ngSubmit)="createOrder(billing)"
                  class="needs-validation"
                  novalidate
                  [ngClass]="{'was-validated': wasValidated}">
              <div class="mb-3">
                <label class="form-label" for="full-name">
                  <i class="fa-light fa-signature me-1"></i>
                  <span>Full name:</span>
                </label>
                <input autocomplete="true"
                       class="form-control"
                       id="full-name"
                       name="fullName"
                       placeholder="Type your full name"
                       required
                       [(ngModel)]="fullName"
                       type="text">
                <div class="invalid-feedback">
                  Please input consignee full name
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="phone">
                  <i class="fa-light fa-phone me-1"></i>
                  <span>Phone:</span>
                </label>
                <input autocomplete="true"
                       class="form-control"
                       id="phone"
                       name="phone"
                       pattern="0[0-9]{9}"
                       placeholder="Type your phone number"
                       required
                       [(ngModel)]="phone"
                       type="tel"
                       value="0312456789">
                <div class="invalid-feedback">
                  Invalid phone number
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-12">
                    <label class="form-label" for="province">
                      <span>Payment method:</span>
                    </label>
                    <select
                      class="form-select"
                      id="payment-method"
                      name="paymentMethod"
                      [(ngModel)]="paymentMethod"
                      required
                    >
                      <option value="0">Thanh toán khi nhận hàng</option>
                      <option value="1">Thanh toán bằng tài khoản ngân hàng</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-4">
                    <label class="form-label" for="province">
                      <span>Province:</span>
                    </label>
                    <select
                      class="form-select"
                      id="province"
                      name="province"
                      [(ngModel)]="province"
                      required
                      (change)="onProvinceChange($event)"
                    >
                      <option selected="" value="">Select province</option>
                      <option *ngFor="let province of provinces" [value]="province.code">{{province.name}}</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <label class="form-label" for="district">
                      <span>District:</span>
                    </label>
                    <select
                      class="form-select"
                      id="district"
                      name="district"
                      [(ngModel)]="district"
                      required
                      (change)="onDistrictChange($event)"
                    >
                      <option selected="" value="">Select district</option>
                      <option *ngFor="let district of districts" [value]="district.code">{{district.fullName}}</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <label class="form-label" for="ward">
                      <span>Ward:</span>
                    </label>
                    <select class="form-select"
                            id="ward"
                            name="ward"
                            [(ngModel)]="ward"
                            required>
                      <option selected="" value="">Select ward</option>
                      <option *ngFor="let ward of wards" [value]="ward.code">{{ward.fullName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="address">
                  <i class="fa-light fa-map-location me-1"></i>
                  <span>Address:</span>
                </label>
                <input autocomplete="true"
                       class="form-control"
                       id="address"
                       name="address"
                       placeholder="Type your address"
                       ngModel
                       type="text"
                       value="">
              </div>
              <div class="col-12">
                <button class="app-btn text-white w-100 border-0 py-2 px-4 my-3 transition bg-orange bg-gradient"
                        type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="user-card card border-0 shadow">
          <div class="card-header bg-orange bg-gradient">
            <p class="card-title mb-0">
              <i class="me-2 fa-light fa-file-invoice"></i>
              Products
            </p>
          </div>
          <div class="card-body p-0">
            <div class="border-bottom">
              <div class="px-4 py-3" id="billing__products">
                <div *ngFor="let cartEntity of cartMap" class="px-0 my-2 d-flex flex-wrap align-items-center">
                  <img [src]="cartEntity.book.image" alt="" class="object-fit-cover">
                  <div class="ms-2 col">
                    <p class="mb-0 fw-bold">{{ cartEntity.book.name }}</p>
                    <p class="mb-0">{{ cartEntity.book.options[0].name }}</p>
                    <p class="mb-0 small fw-light">x{{ cartEntity.quantity }}</p>
                  </div>
                  <div>
                    <small class="h6 mb-1 me-3">{{ cartEntity.quantity * cartEntity.book.price | vndCurrency}} đồng</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-2 border-bottom">
              <div class="px-4 py-2">
                <div class="row justify-content-end">
                  <div class="col">
                    <p class="d-block mb-0 fw-light fs-5" id="billing__payment-method">Phương thức thanh toán: <span class="fw-normal">
                        @if (paymentMethod === "0") {
                          Tiền mặt
                        } @else {
                          Chuyển khoản
                        }
                      </span>
                    </p>
<!--                    <p class="fw-light mb-0">Tài khoản tạo đơn: <span class="fw-normal" id="billing__payment-account">TKhanh.</span>-->
<!--                    </p>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="my-2">
              <div class="px-4 py-2">
                <div class="row py-2">
                  <div class="col d-flex justify-content-end">
                    <table class="table table-borderless w-auto mb-0">
                      <tbody>
                      <tr>
                        <td class="px-4 py-2">
                          <p class="mb-0">Tổng tiền hàng</p>
                        </td>
                        <td class="px-4 py-2">
                          <p class="mb-0 fw-bold text-end" id="billing__sub-total">{{ totalPrice | vndCurrency}} đồng</p>
                        </td>
                      </tr>
                      <tr>
                        <td class="px-4 py-2">
                          <p class="mb-0">Phí vận chuyển</p>
                        </td>
                        <td class="px-4 py-2">
                          <p class="mb-0 fw-bold text-end">0 đồng</p>
                        </td>
                      </tr>
                      <tr>
                        <td class="px-4 py-2">
                          <p class="mb-0">Thành tiền</p>
                        </td>
                        <td class="px-4 py-2">
                          <p class="mb-0 fw-bold text-end" id="billing__total-price">{{ totalPrice | vndCurrency}} đồng</p>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
