<div class="container">
  <div class="cart my-5">
    <div class="row w-75 mx-auto">
      <div class="col-12">
        <div class="user-card card bg-transparent border-0">
          <div class="card-header bg-orange bg-gradient">
            <p class="card-title mb-0">
              <i class="me-2 fa-light fa-cart-shopping"></i>
              Cart
            </p>
          </div>
          <div class="card-body p-0">
            <div class="my-3 pb-3 shadow">
              <div class="px-5 py-2 border-bottom bg-light">
                <div class="d-flex justify-content-end">
                  <p class="fw-bold mb-0 me-3" id="cart__cart-count">Số lượng: {{count}}</p>
                </div>
              </div>
              <div class="border-bottom px-5 py-3">
                @if (count !== 0) {
                  <table class="table align-middle mb-0" id="cart__cart-table">
                    <tbody>
                    <tr *ngFor="let cartElement of cartMap">
                      <td class="border-0 px-0 py-2">
                        <div class="d-flex flex-wrap">
                          <img alt="" class="p-0 me-2 object-fit-cover" [src]="cartElement.book.image">
                          <div>
                            <a class="m-0 d-block" routerLink="/book-details/{{cartElement.book.id}}" [queryParams]="{optionId: cartElement.book.options[0].id}">
                              {{cartElement.book.name}} ({{cartElement.book.options[0].name}})
                            </a>
                            <small>Giá: {{cartElement.book.price | vndCurrency}} đồng</small>
                          </div>
                        </div>
                      </td>
                      <td class="border-0 px-0 py-2">
                        <label>
                          <input class="form-control me-3 my-3 p-2"
                                 min="1" type="number"
                                 max="{{cartElement.book.options[0].quantity}}"
                                 [(ngModel)]="cartElement.quantity"
                                 *ngIf="cartElement.book.options[0]"
                                 (change)="onQuantityChange($event, cartElement.book.options[0].id)"
                          >
                        </label>
                      </td>
                      <td class="border-0 px-0 py-2 text-end">{{cartElement.quantity * cartElement.book.price | vndCurrency}} đồng</td>
                      <td class="border-0 px-3 py-2">
                        <div class="d-flex justify-content-end">
                          <i class="fa-light fa-xmark text-end" type="button" (click)="onRemoveCartDto(cartElement.book.options[0].id)"></i>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                } @else {
                  <div class="py-5">
                    <h2 class="d-block">Ở đây chưa có tập truyện nào!</h2>
                    <p class="d-block fs-5">
                      Thử tìm kiếm một chút xem sao
                    </p>
                    <div class="w-100">
                      <a class="text-orange mb-1 fs-5" routerLink="/books">Bấm vào đây để tìm thêm</a>
                    </div>
                  </div>
                }
              </div>
              <div class="my-2">
                <div class="px-5 py-2">
                  <div class="row justify-content-end">
                    <div class="col-6 d-flex justify-content-end">
                      <table class="table table-borderless w-auto mb-0">
                        <tbody>
                        <tr>
                          <td class="px-4 py-2">
                            <p class="mb-0">Thành tiền</p>
                          </td>
                          <td class="px-3 py-2">
                            <p class="mb-0 fw-bold text-end" id="cart__cart-total-price">{{totalPrice | vndCurrency}} đồng</p>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              @if (count !== 0 ){
                <div class="my-2 d-flex justify-content-end">
                  <div class="px-5 w-auto">
                    <a class="btn me-3 px-3 py-2 transition text-white bg-orange bg-gradient" id="cart__checkout" type="button" (click)="onCheckOut()">Check Out</a>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
