<div class="container">
  <div class="my-5">
    <div class="row w-75 py-5 mx-auto">
      <div class="col-8 d-flex flex-column justify-content-center">
        <div>
          <h2 class="d-block">RẼ SAI HƯỚNG RỒI?</h2>
          <p class="d-block fs-5">
            Có vẻ như bạn bị lạc đường nhỉ, người xa lạ. Có biết thứ gì sẽ có ích khi bị lạc không? Một tô mì nóng hổi. Ngồi đi, chúng tôi đang cố gắng nấu một món ngon ở đây này. Ồ, bạn cần đọc thứ gì đó à? Vậy thì những thứ này có thể giúp bạn đấy:
          </p>
          <div class="w-100">
            <a class="text-orange mb-1 fs-5" routerLink="/">Trang chủ</a>
          </div>
          <div class="w-100">
            <a class="text-orange mb-1 fs-5" routerLink="/books">Tất cả sách</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img class="w-100" src="/assets/img/404.gif" alt="">
      </div>
    </div>
  </div>
</div>
