<div class="container">
  <div class="user my-5">
    <div class="row">
      <div class="col-3">
        <app-user-sidebar></app-user-sidebar>
      </div>
      <div class="col-9">
        <div class="user-card card border-0 shadow">
          <div class="card-header bg-orange bg-gradient">
            <p class="card-title mb-0">
              <i class="me-2 fa-light fa-pencil"></i>
              Edit Info
            </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-xl-6 col-lg-8 col-md-9">
                <form #changePassword="ngForm"
                      class="needs-validation was-validated" novalidate
                      (ngSubmit)="onChangePassword(changePassword)"
                      [ngClass]="{'was-validated': isSubmitted}"
                >
                  <div class="mb-3">
                    <label class="form-label" for="old-password">
                      <i class="fa-light fa-lock me-1"></i>
                      <span>Current password:</span>
                    </label>
                    <input autocomplete="true"
                           class="form-control"
                           id="old-password"
                           name="oldPassword"
                           [(ngModel)]="oldPassword"
                           pattern="[A-Za-z0-9]{6,15}"
                           minlength="6"
                           maxlength="15"
                           placeholder="Type your current password"
                           type="password"
                           required
                    >
                    <div class="invalid-feedback">
                      Current passwords are 6-15 characters long
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="new-password">
                      <i class="fa-light fa-lock me-1"></i>
                      <span>New password:</span>
                    </label>
                    <input autocomplete="true"
                           class="form-control"
                           id="new-password"
                           name="newPassword"
                           pattern="[A-Za-z0-9]{6,15}"
                           minlength="6"
                           maxlength="15"
                           [(ngModel)]="newPassword"
                           placeholder="Type new password"
                           type="password"
                           required
                    >
                    <div class="invalid-feedback">
                      New passwords are 6-15 characters long
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="confirm-password">
                      <i class="fa-light fa-lock me-1"></i>
                      <span>Confirm password:</span>
                    </label>
                    <input autocomplete="true"
                           class="form-control"
                           id="confirm-password"
                           name="confirmPassword"
                           pattern="[A-Za-z0-9]{6,15}"
                           minlength="6"
                           maxlength="15"
                           [(ngModel)]="confirmPassword"
                           placeholder="Confirm password"
                           type="password"
                           required
                    >
                    <div class="invalid-feedback">
                      Confirm passwords are 6-15 characters long
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-lg-6 col-12">
                      <button class="app-btn text-white w-100 border-0 py-2 px-4 my-2 transition bg-orange bg-gradient" type="submit">
                        Save changes
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
